.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.button-container>*:not(:last-child) {
    margin-right: 18px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container>*:not(:last-child) {
    margin-right: 8px;
    justify-content: center;
    align-items: center;
}

.start-icon:before {
    content: "\f04b";
}

.pause-icon:before {
    content: "\f04c";
}

.stop-icon:before {
    content: "\f04d";
}

.save-icon:before {
    content: "\f0c7";
}

.camera-icon:before {
    content: "\f030";
}

.send-icon:before {
    content: "\f1d8";
}

.video-icon:before {
    content: "\f03d";
}

.disabled {
    color: #808080;
}

.selected:hover {
    color: #0056b3 !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#web_info, #task_info {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 20px;
    text-align: left;
}

.content {
    padding-top: 20px;
}

.target-box {
    width: 20%;
}

.table-container {
    display: flex;
    align-items: center;
}

.table-image {
    width: 35%;
    margin-right: 20px;
}

.table-text {
    width: 60%;
    margin-right: 10px;
}

.table-button {
    width: 5%;
}

.table-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

#hr {
    color: #555;
}